@import "reset.css";

html,
body {
  background-color: black;
  height: 100%;
  width: 100%;
}

.line {
  background-color: white;
}
.vertical {
  display: inline-block;
  width: 2px;
  height: 100%;
  position: absolute;
}

.horizontal {
  height: 2px;
  width: 100%;
  position: absolute;
}

.center-circle {
  height: 30px;
  width: 30px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
